@font-face {
    font-family: 'Croissant One';
    src: url(.../fonts/CroissantOne-Regular.ttf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-Regular.ttf);
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-Italic.ttf);
    font-style:italic;
    font-weight:400;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-SemiBold.ttf);
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-BoldItalic.ttf);
    font-style:normal;
    font-weight:900;
}

/* RESET STYLESHEET */

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Original CSS commands are set for mobile first screen width of 360px*/
div {
    display: flex;
    flex-direction: column;
}

/*Setting a minimum height so that the header can grow and changing the background color.*/
header {
    min-height: 150px;
    width: 100%;
    /* background-color: #d9d9d9; */
}

/*Nav*/

/*changing the color and size of hamburger icon.*/
/* label is for hamburger menu icon only.*/
label{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 15%; 
    font-size: 4.5rem;
    margin: 5%;
    padding-right:5%;
    position: relative; 
    left: 270px;
    bottom: 140px;
    color: #406833;
    cursor: pointer; 

}

/*display none for #hamburger makes checkbox disappear */
#hamburger-check {
    display: none;
    /* position: absolute;
    top: 20px;
    width: 30%;
    margin: 5%; */
}


header nav {
    background-color: #D9d9d9;
    width: 100%;
    min-height: 125px;
    /* font-size:1.5rem; */
   
} 

/*header nav img is for McFadden crest logo*/
header nav img{
    width: 30%;
    height: auto;
    margin: 3% 3%;
    padding-right: 5%;
}

/*Style the Navigation List*/
/*Display none under header nav ul makes list disappear.*/
ul {
    font-family: 'Croissant One', 'serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 75px;
    background-color: #d9d9d9;
    width:100%;
    display: none;
    z-index: 999;
    /* position: relative; 
    bottom: 170px;
    right: 30px; */
}

ul li {
    list-style-type: none;
    padding: 2% 0;
    /* width: 100%; */
    text-align: center;
    /* outline: 1px solid greenyellow; */
}

ul li a:hover {
    background-color: #1b341e;
    color: #a5Bf6B;
    text-decoration: underline;
}

ul li a{
    color: #406833; 
    text-decoration: none;
    /* font-size: 1.5rem; */
    font-weight: 900;
}

/*This code says when checkmark is checked, I want you to find next sibling which is the ul and I want you to display it.*/
#hamburger-check:checked ~ ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

/*Push up main-nav to start further up on the page.*/

.main-nav {
    font-family: 'Croissant One', 'serif';
    font-weight: 900;
    font-size: 1.25rem;
    position: relative;
    bottom: 135px;
    padding-bottom: 5%;
    margin-bottom: 0%;
    /* border: 1px solid red; */
}


/*Sub-navigation*/
/*Displays sub nav list when hover over link.*/
.show-sub:hover .sub-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    /* padding-left: 3%; */
    list-style-type: none;
}


.show-sub, .sub-nav {
    /* min-height: 100px; */
    width: 100%;
    height: auto; 
} 

.sub-nav {
    font-family: 'Croissant One', 'serif';
    font-size: 1rem;
    font-weight:bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    float: left;
    height: auto;
    padding-bottom: -5%;
    margin-top: 0%;
    margin-bottom: -5%;
    font-size: 1rem;
    /* border: 1px solid blue; */
    margin-left: 15%;
  
}

.sub-nav li {
    margin-top: -2%;
    margin-bottom: 1%;
    padding: 2%;
    line-height: 1;
}

/*Title of the website goes here.*/
header h1 {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Croissant One', 'Times New Roman', serif;
    font-size: 2rem;
    font-weight: 900;
    /* line-height: 1; */
    color: #d9d9d9;
    text-align: center;
    background-color: #1B341e;
    width: 100%;
    min-height: 75px;
    padding: 5%;
    margin-top: -5%;
    margin-right: 5%;
}

main {
    /* background-color: #A5BF6B; */
    width: 100%;
}

/*Hero image of Old Mill*/
.image-banner img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: 0 auto;
    margin-bottom: -3%;
    /* background-image: url(../images/home-page/pexels-daniel-shapiro-17946182.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center; */
}

/* Photo Citation goes here as figcaption for Old Mill image */
 .image-banner figcaption {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
    padding: 3%;
    position: relative;
    top: 5px;
    /* border: 1px solid purple; */
}

/* Section 2 Starts Here.  Family Summary Section*/

/*Family Summary section header*/

.section2 {
    min-height: 450px;
    width: 100%;
    margin-top: -52px;
    background-color: #A5BF6B;
}

.section2 h3 {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    position: relative; 
    top: 50px;
    color: #1b341e;
    text-transform: uppercase;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    /* border: 1px solid red; */
}


/*Family Summary paragraph*/
.section2 p {
  font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
  font-size: 1rem;
  font-variant: normal;
  font-weight: 400;
  display: flex;
  position: relative;
  top: 40px;
  color: black;
  padding: 5%;
  margin-right: 5%;
  text-align: left;
  /* margin: auto; */
}

/*Scroll down indicator icon*/
.scroll-indicator {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: -5px;
    left: 290px;
    font-size: 2rem; 
    background-color:#1b341e;
    color: #A5BF6B;
    transform: rotate(270deg);
}

/* Map of State of VA goes in section 3 */

.section3 {
    width: 100%;
    /* height: 220px; */
    background-color: #1b341e;
}

/*Map of State of VA*/
.section3 img{
    width: 100%;
    height: 198px;
    margin-bottom: 2%;
    padding: 0px;
    border: 5px solid black;
}

/*Figcaption for Map of State of VA*/
.map figcaption {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
    color: #a5bf6b;
    padding: 3%;
}

/* Section 4 Location Information starts here.*/

.section4 {
    width: 100%;
    height: 315px;
    background-color: #1B341e;
    /* border: 1px solid aqua; */
}


/*Location Section header*/
.section4 h3 {
    color: #a5bf6b;
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    position: relative;
    top: 45px;
    text-transform: uppercase;
    padding-bottom: 5%;
    padding-left: 5%;
    margin-right: 5%;
    text-align: left;
    /* border: 1px solid red; */
}

/*Location section paragraph*/
.section4 p {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1rem;
    font-variant: normal;
    font-weight: 400;
    color: #a5bf6b;
    position: relative;
    top: 25px;
    padding-top: 5%;
    padding-left: 5%;
    margin-right: 5%;
    height: 50px;
}

/* Section 5 about Religion starts here. */

.section5 {
    height: 285px;
    width: 100%;
    margin: auto;
    background-color: #A5BF6B;
    /* border: 1px solid red; */
}

/*Religion section header*/
.section5 h3{
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #1b341e;
    padding: 5%;
    text-align: left;
    /* border: 1px solid aqua; */
}

/*Religion section paragraph*/
.section5 p{
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1rem;
    font-variant: normal;
    font-weight: 400;
    color: black;
    padding: 5%;
    /* border: 1px solid black; */
}

/*Footer section starts here.*/

footer {
    background-color: #d9d9d9;
    width: 100%;
    height: 100px;
    padding: 5%;
}

footer div {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color:#000000;
    border: 100px;
    /* padding: 5%; */
    text-align: left;
    margin: 5%;
}

/*Back to Top Link*/
.top a {
    color: #406833;
    margin-right: 8%;
}

.top a:hover{
    color: #a5bf6b;
    background-color: #1b341e;
}

/*Contact Information */
.contact {
    text-align: right;
    position: relative;
    bottom: 25px;
}

/*Contact information link*/
.contact a {
    color: #406833;
}

.contact a:hover{
    color: #a5bf6b;
    background-color: #1b341e;
}

/*Animate Contact Link By Rocking It*/
.contact {
 animation-name: rock-me;
 animation-duration: 1s;
 animation-direction: alternate;
 animation-iteration-count:infinite;    
}

@keyframes rock-me {
    from {
        transform: rotate(-2deg);
    }
    to {
        transform: rotate(2deg);
    }
}

/* MEDIA QUERIES FOR HOMEPAGE STARTS HERE*/

/*default styles here, targets mobile first for screens under 480px*/


/* ********************************************************************************** */
@media screen and (min-width:480px) {

    label {
        position: relative;
        left: 340px;
        bottom: 200px;
    }

    /*Positions scroll indicator icon*/
    .scroll-indicator {
        position: relative;
        top: 25px;
        left: 390px;
    }
}

/* ********************************************************************************** */
/*Tablet size screen starts at 744px*/
@media screen and (min-width:744px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 150px;
    }

    header nav img {
        width: 20%;
        height: auto;
        position: relative;
        top: -5%;
        margin-bottom:3%;
        z-index:1000;
    }

    header nav {
        min-height: 175px;
    }  

    /*Code to change over navigation from hamburger menu to ul*/
    /*this makes the hamburger menu icon disappear.*/

    label {
        display: none;
    }
    

    /*This code makes nav ul display in a row not column.*/
    ul {
        position: relative;
        top: 5%;
        z-index:999;
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 75px;
    }

    ul li {
        padding-bottom:0;
        padding-right: 2%;
    }

    .main-nav {
        position:relative;
        bottom: 35px;
        width: 100%;
        margin-left: -3%;

    }

    /*Sub-navigation content (hidden by default)*/
    .sub-nav {
        position: relative;
        top: 0px;
        left: 20px;
        padding-bottom: 0%;
    }

    header h1 {
        position: relative; 
        top: 30px;
        min-height: 200px;
        margin-top: -5%;
        margin-bottom: -3%;
    }

    .image-banner img {
        position: relative;
        top: 40px;
    }

    .image-banner figcaption {
        position: relative;
        top: 5px;
        margin-top: -3%;
    }


    .section2 {
       min-height: 330px;
       position: relative;
       top: -5%;
    }

/*Family Summary Section header*/
    .section2 h3 {
        padding-top: 3%;
        padding-bottom: 3%;
        }

    .section2 p {
        margin-top: -5%;
    } 

      /*Positions scroll indicator icon*/
      .scroll-indicator {
        position: relative;
        bottom: 25px;
        left: 600px;
    }

    /*VA Map div class .maps controls 3 map images.*/
    .maps {
        display: flex;
        flex-direction: row;
        }


    /*Figcaption of 3rd .map. Flexbox command won't work on figcaption here.*/
    .map figcaption {
        width: 100%;
        position: relative;
        right: 250px;
        }

    .section4 {
        height: 250px;
        margin: 0%;
        border: 1px solid white;
        margin-top: -5%;
        }
   

        /*Section 4 Location heading*/
    .section4 h3 {
        padding-top: 0%;
        padding-bottom: 3%;
        }

        /*Location Summary Paragraph*/
    .section4 p {
        padding-right: 5%;
        }


    /*Section 5 is the Religion section*/
    .section5 {
        height: 235px;
        }

    /*Section 5 Religion paragraph*/
    .section5 p{
        padding-top: 0%;
        }

    .top a {
        position: relative;
        bottom: 30px;
        }

    .contact a{
        position: relative;
        bottom: 30px;
        }
    }

    /* *******************************************************************************/
    /*Screen Size of desktop starts with 1024px*/
@media screen and (min-width: 1024px) {

    header nav img{
        width: 15%;
    }

    label {
        position: relative;
        left: 800px;
    }


    .image-banner figcaption {
        position: relative;
        top: 32px;
        margin-top: -3%;
    }

    /*Family Summary Section*/
    .section2 {
        height: 325px;
    }

    .section2 h3 {
       padding-top: 3%;
       padding-bottom: 3%;
    }

    .scroll-indicator {
        position: relative;
        top: -10px;
        left: 945px;
    }

    .map figcaption {
        position: relative;
        right: 340px;
    }

    /*Location Summary Section*/
    .section4 h3{
        padding-bottom: 1%;
    }

    .section4 p {
      padding-top: 3%;
    }

    .section5 h3{
        padding-bottom: 3%;
    }

    .top a {
        position: relative;
        bottom: 55px;
    } 

    .contact a{
        position: relative;
        bottom: 55px;
    }
} 