@font-face {
    font-family: 'Croissant One';
    src: url(.../fonts/CroissantOne-Regular.ttf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-Regular.ttf);
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-Italic.ttf);
    font-style:italic;
    font-weight:400;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-SemiBold.ttf);
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-BoldItalic.ttf);
    font-style:normal;
    font-weight:900;
}

/* RESET STYLESHEET */

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    flex-direction: column;
}

header {
    height: 500px;
    width: 100%;
    z-index: 999;
}

/*display none for #hamburger makes checkbox disappear */
#hamburger {
    display: none;
    position: absolute;
    top: 20px;
}

/*This code says when checkmark is checked, I want you to find next sibling which is the ul and I want you to display it.*/
#hamburger:checked ~ ul {
    display:block;
}

header nav {
    background-color: #d9d9d9;
    width: 100%;
    height: 140px;
    font-size:3rem;
}

header nav img{
    /* width: 50%; */
    /* height: 300px; */
    margin: 3% 3%;
    padding-right: 5%;
}


header nav label{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 15%;
    /* height: 2rem; */
    font-size: 4.5rem;
    margin: 5%;
    padding-right:5%;
    float:right;
    display: flex;
    align-items:center;
    color: #406833;
}

/*Display none under header nav ul makes list disappear.*/
header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    display: none;
}

header nav ul li {
    list-style-type: none;
    padding: 2% 0;
}
header h1 {font-family: 'Croissant One', 'Times New Roman', serif;
    font-size: 2.25rem;
    font-weight: 900;
    /* line-height: 1; */
    color: #d9d9d9;
    text-align: center;
    background-color: #1B341e;
    height: 90px;
    padding: 5%;
}

 .surname {
    font-size: 3rem;
}
main {
    background-color: #A5BF6B;
    width: 100%;
}

.image-banner img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 90px;
    /* height: 30%; */
    width: 100%;
    margin: 0 auto;
    /* background-image: url(../images/home-page/pexels-daniel-shapiro-17946182.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center; */
}

/* Photo Citation goes here as figcaption for Old Mill image */

 .image-banner figcaption {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 0.75rem;
    font-style: italic;
    padding: 5%;
    text-align: center;
}

/* Section 2 Starts Here.  Family Summary Section*/

.section2 h3 {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1.25 rem;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    position: relative; 
    top: 68px;
    color: #1b341e;
    text-transform: uppercase;
    padding: 5%;
    text-align: left;
}

.section2 {
    height: 335px;
    width: 100%;
}

.section2 p {
  font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
  font-size: 1rem;
  font-variant: normal;
  font-weight: 400;
  display: flex;
  position: relative;
  top: 45px;
  color: black;
  padding: 5%;
  text-align: left;
  margin: auto;
}

.scroll-indicator {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 25px;
    left: 273px;
    font-size: 2rem; 
    background-color:#1b341e;
    color: #A5BF6B;
    transform: rotate(270deg);

}

/* Map of State of VA goes in section 3 */

.section3 {
    width: 100%;
    height: 200px;
}

.section3 div {
    height: 500px;
}

.section3 div img{
    width: 100%;
    /* height: 500px; */
    margin: 0px;
    padding: 0px;
    border: 7px;
    border-color: black;
    border-style: solid;
}

.section3 figcaption {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
    color: #a5bf6b;
    padding: 5%;
}

/* Section 4 Location Information */

.section4 {
    width: 100%;
    height: 275px;
    margin: auto;
    background-color: #1B341e;
}



.section4 h3 {
    color: #a5bf6b;
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    position: relative;
    top: 32px;
    text-transform: uppercase;
    padding: 5%;
    text-align: left;
}

.section4 p {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1rem;
    font-variant: normal;
    font-weight: 400;
    color: #a5bf6b;
    position: relative;
    top: 20px;
    padding: 5%;
    height: 50px;
}

/* Section 5 about Religion */

.section5 {
    height: 265px;
    width: 100%;
    margin: auto;
    padding: 5%;
}

.section5 h3{
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #1b341e;
    padding: 5%;
    text-align: left;
}

.section5 p{
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1rem;
    font-variant: normal;
    font-weight: 400;
    color: black;
    padding: 5%;
}

footer {
    background-color: #d9d9d9;
    width: 100%;
    height: 100px;
    padding: 5%;
}

footer div {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color:#000000;
    border: 100px;
    /* padding: 5%; */
    text-align: left;
    margin: 5%;
}


.top a {
    color: #406833;
  margin-right: 8%;
}

.top a:hover{
    color: #a5bf6b;
    background-color: #1b341e;
}

.contact {
    text-align: right;
    position: relative;
    bottom: 25px;
}
.contact a {
    color: #406833;
}

.contact a:hover{
    color: #a5bf6b;
    background-color: #1b341e;
}

/* MEDIA QUERIES FOR HOMEPAGE STARTS HERE*/

body {
    /*default styles here, targets mobile first*/
}

@media screen and (min-width:480px) {
    .image-banner img {
        width: 100%
    }
}


@media screen and (min-width:760px) {

}

     
}media screen and (min-width: 1024px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }

    label {
        display: none;
    }
}