@font-face {
    font-family: 'Croissant One';
    src: url(.../fonts/CroissantOne-Regular.ttf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-Regular.ttf);
    font-style:normal;
    font-weight:400;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-Italic.ttf);
    font-style:italic;
    font-weight:400;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-SemiBold.ttf);
    font-style:normal;
    font-weight:700;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url(../fonts/FiraSansCondensed-BoldItalic.ttf);
    font-style:normal;
    font-weight:900;
}

/* RESET STYLESHEET */

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    flex-direction: column;
}

header {
    height: 225px;
    width: 100%;
    z-index: 999;
}

/*display none for #hamburger makes checkbox disappear */
#hamburger {
    display: none;
    position: absolute;
    top: 20px;
    width: 30%;
    margin: 5%;
}

/*This code says when checkmark is checked, I want you to find next sibling which is the ul and I want you to display it.*/
#hamburger:checked ~ ul {
    display:block;
}

header nav {
    background-color: #d9d9d9;
    width: 100%;
    height: 150px;
    font-size:3rem;
}

header nav img{
    width: 25%;
    /* height: 300px; */
    margin: 3% 3%;
    padding-right: 5%;
}


header nav label{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 15%;
    /* height: 2rem; */
    font-size: 4.5rem;
    margin: 5%;
    padding-right:5%;
    float:right;
    display: flex;
    align-items:center;
    color: #406833;
}

/*Display none under header nav ul makes list disappear.*/
header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    display: none;
}

header nav ul li {
    list-style-type: none;
    padding: 2% 0;
}

header h1 {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Croissant One', 'Times New Roman', serif;
    font-size: 2.25rem;
    font-weight: 900;
    /* line-height: 1; */
    color: #d9d9d9;
    text-align: center;
    background-color: #1B341e;
    width: 100%;
    height: 190px;
    padding: 5%;
}

 /* .surname {
    font-size: 3rem;
} */

main {
    background-color: #A5BF6B;
    width: 100%;
}

.image-banner img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 90px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    /* background-image: url(../images/home-page/pexels-daniel-shapiro-17946182.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center; */
}

/* Photo Citation goes here as figcaption for Old Mill image */

 .image-banner figcaption {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 0.75rem;
    font-style: italic;
    padding: 5%;
    text-align: center;
    position: relative;
    top: 90px;
}

/* Section 2 Starts Here.  Family Summary Section*/

.section2 h3 {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    position: relative; 
    top: 68px;
    color: #1b341e;
    text-transform: uppercase;
    padding: 5%;
    text-align: left;
}

.section2 {
    height: 475px;
    width: 100%;
}

.section2 p {
  font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
  font-size: 1rem;
  font-variant: normal;
  font-weight: 400;
  display: flex;
  position: relative;
  top: 45px;
  color: black;
  padding: 5%;
  text-align: left;
  margin: auto;
}

.scroll-indicator {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 25px;
    left: 273px;
    font-size: 2rem; 
    background-color:#1b341e;
    color: #A5BF6B;
    transform: rotate(270deg);

}

/* Map of State of VA goes in section 3 */

.section3 {
    width: 100%;
    height: 220px;
}


.section3 img{
    width: 100%;
    height: 198px;
    margin-bottom: 2%;
    padding: 0px;
    border: 1px solid black;

}

.section3 figcaption {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
    color: #a5bf6b;
    padding: 3%;
}

/* Section 4 Location Information */

.section4 {
    width: 100%;
    height: 325px;
    margin: auto;
    background-color: #1B341e;
}



.section4 h3 {
    color: #a5bf6b;
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    position: relative;
    top: 40px;
    text-transform: uppercase;
    padding-left: 5%;
    padding-bottom: 3%;
    margin: 3% 0;
    text-align: left;
}

.section4 p {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1rem;
    font-variant: normal;
    font-weight: 400;
    color: #a5bf6b;
    position: relative;
    top: 25px;
    padding: 2%;
    height: 50px;
}

/* Section 5 about Religion */

.section5 {
    height: 285px;
    width: 100%;
    margin: auto;
    padding-left: 5%;
    padding-bottom: 3%;
}

.section5 h3{
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #1b341e;
    padding: 5%;
    text-align: left;
}

.section5 p{
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1rem;
    font-variant: normal;
    font-weight: 400;
    color: black;
    padding: 5%;
}

footer {
    background-color: #d9d9d9;
    width: 100%;
    height: 100px;
    padding: 5%;
}

footer div {
    font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color:#000000;
    border: 100px;
    /* padding: 5%; */
    text-align: left;
    margin: 5%;
}


.top a {
    color: #406833;
    margin-right: 8%;
}

.top a:hover{
    color: #a5bf6b;
    background-color: #1b341e;
}

.contact {
    text-align: right;
    position: relative;
    bottom: 25px;
}
.contact a {
    color: #406833;
}

.contact a:hover{
    color: #a5bf6b;
    background-color: #1b341e;
}

/* MEDIA QUERIES FOR HOMEPAGE STARTS HERE*/

/*default styles here, targets mobile first for screens under 480px*/

@media screen and (min-width:480px) {
   
    h1 {
        /* height: 200px; */
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
    }

    .image-banner figcaption {
        position: relative;
        top: 95px;
   }

    .scroll-indicator {
        position: relative;
        top: 25px;
        left: 390px;
    }
}


@media screen and (min-width:744px) {
   
    .section2 h3 {
        position: relative;
        top: 120px;
        margin-bottom: 3%;
        }

        header nav img {
            width: 15%;
            z-index: 999;
            /* border: 1px solid red; */
        }

        header nav label {
            display: none;
        }

        header nav {
            height: 200px;
        }

        header nav ul {
            display: flex;
            flex-direction: row;
            font-size: 1.25rem;
            font-weight: 900;
            text-decoration: underline;
            justify-content: flex-end;
            color: #406833;
            position: relative;
            bottom: 100px;
            width: 80%;
            margin-left: 18%;
            /* border: 1px solid blue; */
        }

        header nav ul li {
            margin-right: 5%;
        }

        header h1 {
            display: flex;
            flex-direction: column;
            flex-wrap:wrap;
            font-size: 3.25rem;
             height: 285px;
        }

        .image-banner img {
            position: relative;
            top: 220px;
        }

        .image-banner figcaption {
             position: relative;
             top: 195px;
        }

        .scroll-indicator {
                position: relative;
                top: 0px;
                left: 680px;
        }
        
    
        .section4 p {
            position: relative;
            top: -10px;
            padding: 5%;
            margin-top: 3%;
        }

        .section5 h3 {
            margin-left: -5%;
        }
        
        .section5 p{
            position: relative;
            bottom: 25px;
            margin-left: -5%;
        }

        .top a {
            position: relative;
            bottom: 30px;

        }

        .contact a{
            position: relative;
            bottom: 30px;
        }
    }

@media screen and (min-width: 1024px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }

    label {
        display: none;
    }

    header h1 {
        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        font-size: 3.25rem;
        height: 250px;
    }

    .image-banner img{
        height: 300px;
    }

    .section2 h3 {
        position: relative;
        top: 100px;
    }

    .scroll-indicator {
        position: relative;
        top: -10px;
        left: 925px;
    }

    .section3 {
        width: 100%;
        height: 198px;
        background-color: #1B341e;
        /* border: 1px solid red; */
    }

    .section3 img{
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 198px;
        margin: 0 auto;
        padding: 0px;
        border: 7px solid black;
    }

    .section4 p {
      padding: 0%;
      margin-left: 5%;
    }


    .section5 p {
        padding: 0%;
        margin-left: 0%;
    }

    .top a {
        position: relative;
        bottom: 55px;

    }

    .contact a{
        position: relative;
        bottom: 55px;
    }
}

@media screen and (min-width: 1436px) {

    header nav img {
        width: 15%;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        text-decoration: underline;
        justify-content: center;
        position: relative;
        bottom: 150px;
        width: 80%;
        margin-left: 18%;
    }

    .image-banner figcaption {
        position: relative;
        bottom: 35px;
    }

    /*Family Summary p command*/
    .section2 p {
        font-family: 'Fira Sans Condensed', 'Times New Roman', sans-serif;
        font-size: 1rem;
        font-variant: normal;
        font-weight: 400;
        display: flex;
        position: relative;
        top: -15px;
        color: black;
        padding: 5%;
        text-align: left;
        margin: auto;
      }

      .scroll-indicator {
        position: relative;
        top: -65px;
        left: 1350px;
    }

    .section3 div {
        background-color: #1B341e;
    }
    .section3 div img{
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 198px;
        margin: 0 auto;
        border: 7px solid black;
    }

    /*VA Map image*/
    .section3 div img{
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 198px;
        margin: 0 auto;
        padding: 0px;
        border: 7px solid black;
    }

    .section3 div figcaption {
        position: relative; 
        bottom: 30px;
    }
}


